{{ define "main" }}
{{ if .Data.Terms }}
  <div class="row">
    <div class="col-sm-4">
      <div class="single category">
        <h3 class="side-title">{{ .Title }}</h3>
        <ul class="list-unstyled">
          {{ range $name, $terms := .Data.Terms }}
            <li>
              <a href="{{ .Page.Permalink }}" title="{{ $name }}">{{ $name }} <span class="pull-right">{{ len $terms }}</span></a>
              <ul class="list-unstyled ms-3 mt-2 small">
                {{ range first 5 (sort $terms "Date" "desc") }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ else if .Pages }}
  <h1>{{ .Title }}</h1>
  {{ if .Description }}
    <p class="lead mb-4">{{ .Description }}</p>
  {{ end }}
  <h2 class="mb-4">Posts ({{ len .Pages }})</h2>
  <ul class="list-unstyled mb-5">
    {{ range .Pages }}
      {{ $page := . }}
      <li class="mb-3">
        {{ with .Params.header_image }}
          <a href="{{ $page.RelPermalink }}" class="d-block mb-3">
            <img src="{{ . | absURL }}" class="img-fluid rounded" alt="{{ $page.Params.header_image_alt | default $page.Title }}">
          </a>
        {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="text-muted mb-2">{{ .Date.Format "Jan 2, 2006" }}</div>
        {{ if .Description }}
          <p>{{ .Description | truncate 100 }}</p>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ else }}
  <h1>{{ .Title }}</h1>
  {{ if .Description }}
    <p class="lead mb-4">{{ .Description }}</p>
  {{ end }}
  <p>No posts found.</p>
{{ end }}
{{ end }}
